<IfModule rewrite_module>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ([a-zA-Z0-9_\-]*)\.html index.php?id=$1 [L]
</IfModule>

<IfModule deflate_module>
<FilesMatch "(\.svg|\.js|\.css|\.ttf)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>

<LocationMatch "^/(bin|conf|data|ephemeral)">
Require all denied
</Location>
