<?php
$secret1="change";
$secret2="this";
$secret3="too";
$pwdFile="data/users.auth.php";
$permFile="data/users.perm.php";
$pageDir="data/pages";
$atticDir="data/attic";
$mediaDir="data/media";
$metaDir="data/meta";
$editableDir="data/editable";
$cacheDir="ephemeral/cache";
$lockDir="ephemeral/locks";
$locktime=300;
$dbevents="data/events_register.sqlite";
$mediaPrefix="data/media/";
$pagePrefix="?id=";
$pageSuffix="";
//$pagePrefix="";
//$pageSuffix=".html";
//$mediaPrefix="media";
$ext_ok=array("pdf","csv","txt","jpg","jpeg","gif","png","webp","avi","mp4","ogv","mkv","tex","zip","tar","gz","tgz","bz2","tbz2","xz","txz","7z","doc","docx","xls","xlsx","odt");
function xmail($to,$subj,$content) {
	return mail($to,$subj,$content,"From: wiki noreply <noreply@invalid>\nContent-type: text/plain; charset=utf-8\n");
}
$mailNotify=array("change"=>array("notify.change@my-site.test"),
						"change_software"=>array("notify.change.soft@my-site.test"),
						"register"=>array("notify.register@my-site.test"));
$baseUrl="https://www.my-site.test/";
$clientIp=($_SERVER["HTTP_X_FORWARDED_FOR"] ?? $_SERVER["REMOTE_ADDR"]);
//$canonicalHost="www.my-site.test";
$canonicalProto="https";

