<?php
$secret1="change";
$secret2="this";
$secret3="too";
$pageDir="data/pages";
$atticDir="data/attic";
$mediaDir="data/media";
$metaDir="data/meta";
$cacheDir="data/cache2";
$lockDir="data/locks";
$dbevents="data/events_register.sqlite";
$mediaPrefix="data/media/";
$pagePrefix="doku.php?id=";
$pageSuffix="";
//$pagePrefix="";
//$pageSuffix=".html";
//$mediaPrefix="media";
$ext_ok=array("pdf","csv","txt","jpg","jpeg","gif","png","webp","avi","mp4","ogv","mkv","tex","zip","tar","gz","tgz","bz2","tbz2","xz","txz","7z","doc","docx","xls","xlsx","odt");
$mailFrom="wiki noreply <noreply@nonexistent.tld>";
$mailNotify=array("change"=>array("notify.change@my.site.tld"),
						"register"=>array("notify.register@my.site.tld"));
$baseUrl="https://my.site.tld/";

