<h1>Edit ~~ID~~</h1>
<form method=post action=doku.php>
<input type=hidden name=do value=edit>
<input type=hidden name=id value=~~ID~~>
~~XTOK~~
<div style=display:flex>
<div style=flex-grow:1;width:100%;padding-right:5px>
	<textarea name=txt id=txt style=width:100%;height:70vh>~~TXT~~</textarea>
</div>
<div id=preview style=flex-grow:1;width:100%;height:70vh;overflow-y:scroll>
</div>
</div>
	summary of changes: <input name=summary>
	<br>
	<input type=submit value=Save> <input type=button value="Update preview" onclick=update()>
	Locked until ~~LOCK_UNTIL~~ <a href="doku.php?do=release&id=~~ID~~">Cancel edition</a> &nbsp; <a target=_new href=upload.php>File manager/uploader</a>
</form>
<script src=static/edit.js></script>

