<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<title>~~TITLE~~ [GdR MASCOT-NUM]</title>
<link rel=stylesheet href=static/style.min.css?~~CSSTS~~>
<meta name=viewport content="width=device-width">
~~METADESC~~
<link rel="shortcut icon" href=static/favicon.svg?1>
<body>
<main>
<nav>
<a href=/><img src=static/logo.svg?1 width=262 height=96 alt="Groupement de recherche MASCOT-NUM"></a>
<details id=mobilesb>
<summary id=mobilemenulink>Show menu</summary>
<div class="menu box">
~~SIDEBAR~~
</div>
<div class=box>
~~ACTIONS~~
</div>
</details>

<div id=sb class=sidebar>
<div class="menu box">
~~SIDEBAR~~
</div>
<div class=box>
~~ACTIONS~~
</div>
</div>

</nav>
<article>

