<h1>Login</h1>
<form method=post action=doku.php>
~~XTOK~~
<input type=hidden name=do value=login>
<input type=hidden name=id value=~~ID~~>
<table class=formtable>
<tr><td>Username<td><input name=u required>
<tr><td>Password<td><input name=p type=password required>
<tr><td class=center colspan=2><input type=submit value=Login>
</table>
</form>
<a href="?do=register">Register as a new user</a>
<p>
<a href="?do=resendpwd">Forgotten credentials ?</a>
