<h1>Register</h1>
<form method=post action=index.php>
~~XTOK~~
<input type=hidden name=do value=register>
<table class=formtable>
<tr><td>Username<td><input name=u required>
<tr><td>Password<td><input name=p type=password required minlength=7>
<tr><td>Password (confirm)<td><input name=p2 type=password required minlength=7>
<tr><td>Fullname<td><input name=n required>
<tr><td>E-mail address<td><input name=e type=email required>
<tr><td class=center colspan=2><input type=submit value=Register>
</table>
</form>
