<h1>Resend credentials</h1>
<form method=post action=doku.php>
<input type=hidden name=do value=resendpwd>
<table class=formtable>
<tr><td>E-mail address<td><input name=e type=email required>
<tr><td class=center colspan=2><input type=submit value=Resend>
</table>
</form>
