/* classe css de la page*/
#res_script{
	border:0;
	color:black;
}

/*Titre*/
div.ZoneTitreResultat
{
	display:none;
}
/* classes pour les rubriques pour certains type de classement (type de publi, ann?(C)e de publi) */ 
.Rubrique{
    font-family: 'ABeeZee', 'ABeeZee', sans-serif;
	border: 0;
	color:#000;
    	font-weight:normal;
	font-size:160%;
}
.SousRubrique{
    font-family: 'ABeeZee', 'ABeeZee', sans-serif;
	color:#000;
    font-weight:normal;
	margin-left:0.4em;
	font-size:90%;
}

/*nom du champ*/
.ChampRes {
    font-family: 'ABeeZee', sans-serif;
	display:none;
}

/* classe commune ?  tous les champs affich?(C)s */ 
.ValeurRes {
    font-family: 'ABeeZee', sans-serif;
	color:black;
  margin-left:1em;
}
/* classe pour les titres */ 
.Titre, .Titre a {
    font-family: 'ABeeZee', sans-serif;
	font-size:95%;
	color: blue;
	text-decoration: none;
}
.Titre a:hover {
	text-decoration:underline;
}

/* classe pour les auteurs */ 
.Auteurs {
    font-family: 'ABeeZee', sans-serif;
	font-size:95%;
}
/* classe des d?(C)tails de publication : une calsse par type */ 
.detail_revue,.detail_conf,.detail_cours,.detail_ouv,.detail_hdr,.detail_these,.detail_autre,.detail_brevet,.detail_rapport,.detail_sans_ref{
    font-family: 'ABeeZee', sans-serif;
	font-size:90%;
}
/* classe pour les r?(C)sum?(C)s */ 
.Debut_du_resume{
}
/* classe pour les doi */ 
.DOI{
}
/* classe pour les identifiants */ 
.Identifiant{
    font-family: 'ABeeZee', sans-serif;
	font-size:90%;
}
/* classe pour les rubriques pour certains type de classement (type de publi, ann?(C)e de publi) */ 
.Rubrique{
}
.NoticeRes {
    font-family: 'ABeeZee', sans-serif;
	font-size:90%;
	padding-bottom: 2em;
}


.NoticeResAvecVignette {
    font-family: 'ABeeZee', sans-serif;
}


